*{margin: 0; padding:0}

h1 { font-size: 45px; }

h2 {
  font-size: 40px;
  font-weight: normal;
}

h3 {
  font-size: 30px;
  text-decoration: underline;
}

h1,h2,body,p { color: white; }

p { font-size: 20px; }

a {
  color: white;
  opacity: 0.90;
}

a:hover { opacity: 1.0; }


/* -------------- VARIABLE ---------------- */
:root {
    /* Colors */
  --blueColor: #4084af;
  --darkBlueColor: #557db3;
  --redColor: #b54d68;
  --redColorTransparent: rgba(181,77,104,0);
  --yellowColor: #ffc857;
  --greyColor: #4c413f;
  --orangeColor: #de7862;
  --orangeColorTransparent: rgba(222,120,98,0);
  --lightOrangeColor: #f3ae9f;
  --purpleColor: #54457f;
  --lightPurpleColor: #8f81b8;
  --greenColor: #008777;
  --lightGreenColor: #19a191;
  /* color gradient */
  --standardBackground_ToBot: linear-gradient(to bottom,  var(--blueColor), 60%, var(--darkBlueColor));
  --standardBackground_ToTop: linear-gradient(to bottom,  var(--darkBlueColor), 60%, var(--blueColor));
  /*  */
  --marginTopSection:10px;
  /* Header */
  --heightHeader: 355px;
  --marginTopH1Header: 33px;
  --backgroundHeaderH1: linear-gradient(to right,  var(--redColorTransparent) 5%, var(--redColor) 20%, var(--yellowColor));
  --backgroundHeaderInteraction: linear-gradient(to right,  var(--yellowColor), 40%, var(--redColor), var(--redColorTransparent));
  --backgroundHeaderProjectAndAuxilary: linear-gradient(to right, var(--redColor), 85%, var(--redColorTransparent));
  /* WorkExperiences */
  --heightBanner: 112px;
  --heightExp: 506px;
  --backgroundWEH1: linear-gradient(to right, var(--orangeColor), 85%, var(--redColorTransparent));
  --backgroundExpInteraction: linear-gradient(to bottom,  var(--orangeColor), 60%, var(--darkBlueColor));
  --backgroundExpH1: linear-gradient(to right, var(--orangeColor) 40%, var(--redColor) 70%, var(--redColorTransparent));
  --backgroundExpH1Interaction: linear-gradient(to right, var(--redColor) 20%, var(--orangeColor) 70%, var(--orangeColorTransparent));
  /* Skills */
  --heightSkill: 266px;
  --widthSkill: 320px;
  --heightBackgroundSkill: 176px;
  --backgroundSkillInteraction: linear-gradient(to bottom,  var(--lightPurpleColor), 60%, var(--darkBlueColor));
  --backgroundSkillH1: linear-gradient(to right, var(--purpleColor) 40%, var(--redColor) 70%, var(--redColorTransparent));
  --backgroundSkillH1Interaction : linear-gradient(to right, var(--redColor) 20%, var(--purpleColor) 70%, rgba(84,69,127,0));
  /* Hobbies */
  --backgroundHobbieH1: linear-gradient(to right, var(--lightGreenColor), 85%, var(--redColorTransparent));
  --backgroundHobbieInteraction: linear-gradient(to bottom,  var(--lightGreenColor), 60%, var(--darkBlueColor));
  --backgroundHobbieH2: linear-gradient(to right, var(--greenColor) 40%, var(--redColor) 70%, var(--redColorTransparent));
  --backgroundHobbieH2Interaction: linear-gradient(to right, var(--redColor) 20%, var(--greenColor) 70%, rgba(84,69,127,0));
}

.line { height: 2px; }

.verticalLine { width: 2px; }

.line, .verticalLine { background-color: white; }

.absolute { position: absolute; }

.bold { font-weight: bold; }

.disminishedOpacity{ opacity: 0.80; }

.marge { margin-left: 1em; }

.roundImg { border-radius: 20px; }

.breakAfterElement { page-break-after: always; }


/* -------------- HEADER ---------------- */

.header{
  display: flex;
  flex-flow: row nowrap;
}

.profil, .situation, .contact{
  background: var(--standardBackground_ToBot);
  height: var(--heightHeader);
}

.profil, .contact{
  text-align: center;
  flex-grow: 1;
}

.profil h1, .contact h1{ background: var(--backgroundHeaderH1); }

.profil:hover h1, .situation h1, .rectangle-contact:hover{
  background: var(--backgroundHeaderInteraction);
}

/* ==== Profil ===== */
.profil { cursor: pointer; }

.profil img{
  border: thick solid white;
  border-radius: 50%;
  margin-top: 20px;
}

.profil h1 { margin-top: 7px; }

.rectangle-profil p{
  font-size: 24px;
  opacity: 0.90;
  margin-top: 7px;
}

.line-profil { margin-top: -11px; }

/* ==== Contact ===== */
.contact h1 {
  margin: var(--marginTopH1Header) 0 42px 20px; /* top | right | bottom | left */
}

.rectangle-contact {
  height: 35px;
  margin-bottom: 20px;
}

.rectangle-contact p {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.line-contact{ margin-top: 2px; }

/* ==== Situation ===== */
.situation {
  width: 942px;
  margin : 0 5px 0 5px; /* top | right | bottom | left */
  flex-grow: 2;
}

.situation h1 {
  text-align: center;
  margin-top: var(--marginTopH1Header);
}

.situation p {
  margin : 24px 0 0 calc(4.2em + 3vw); /* top | right | bottom | left */
  max-width: 75vw;
  font-size: calc(0.7em + 0.50vw);
}

.line-situation { margin-top: 21px; }

.verticalLine-situation {
  height: var(--heightHeader);
  margin-left: 62px;
}


@media screen and (max-width:1742px){
  .header{ flex-flow: row wrap; }

  .situation{
    order:1;
    margin: 0;
  }
  .profil, .contact{ margin-bottom: 5px; }

  .profil{ margin-right: 5px; }
}

@media screen and (max-width:803px){
  .profil{ margin-right: 0px; }
}


/* -------------- Banner used in Work Experiences and Hobbies ---------------- */

.banner {
  background-color: var(--blueColor);
  width: 100vw;
  height: var(--heightBanner);
}

.banner h1 {
  text-align: center;
  margin-top: 22px;
  font-size: calc(1.5em + 3vw);
}


/* -------------- For all sections except Header ---------------- */

.workExperiences, .skills, .hobbies, .auxiliaryProject{
  display: flex;
  flex-flow: row wrap;
  margin-top: var(--marginTopSection);
}


/* -------------- Carousel ---------------- */
/* Based on https://codepen.io/koheishingai/pen/uKvJF */

.carousel {
  background: var(--standardBackground_ToTop);
  margin-top: var(--marginTopSection);
  position: relative;
  width: 100%;
}

.carousel-open:checked + .project {
  position: static;
  opacity: 100;
}

.carousel-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  width: 40px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
  z-index: 10;
}

.carousel-control.prev { left: 2%; }

.carousel-control.next { right: 2%; }

.carousel-control:hover { background: var(--redColor); }

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4,
#carousel-5:checked ~ .control-5{
    display: block;
}

/* little dots */
.carousel-indicators {
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.carousel-bullet {
  color: white;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.carousel-bullet:hover { color: #aaaaaa; }

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel-5:checked ~ .control-5 ~ .carousel-indicators li:nth-child(5) .carousel-bullet{
    color: var(--redColor);
}


/* ==== Project ===== */
.project {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 0;
  height: 600px;
}

.project h1{
  font-size: calc(1em + 2vw);
  background: var(--backgroundHeaderProjectAndAuxilary);
}

.project p{ max-width: calc(320px + 30vw); }

.project img{
  width: calc(10em + 20vw);
  margin-right: 20px;
}

@media screen and (max-width:1470px){
  .project{
    flex-flow: column wrap;
    height: 730px;
    text-align: center;
  }
  .project img{ margin-right: 0; }
  .PGCP{ text-align: center; }
}

.PGCP, .gitlabPGCP{
  margin-top: 30px;
  width: inherit;
}

.PGCP a, .gitlabPGCP a{
  border: 3px solid white;
  padding: 7px 35px;
  border-radius: 3px;
  margin-bottom: 10px;
  text-align: center;
}

.PGCP a:hover, .gitlabPGCP a:hover{
  background-color: var(--redColor);
}


/* -------------- Work Experiences ---------------- */

.workExperiences h1 {
  background: var(--backgroundWEH1);
}

.experience {
  background: var(--standardBackground_ToBot);
  height: var(--heightExp);
  text-align: center;
  flex-grow: 1;
  z-index: 10;
}

.experience:hover { background: var(--backgroundExpInteraction); }

.experience h2, .line-exp { margin-top: calc(2 * var(--marginTopSection)); }

.job{ background: var(--backgroundExpH1); }

.experience:hover > .job{ background: var(--backgroundExpH1Interaction); }

.mission-experience {
  text-align: left;
  line-height: 40px;
  margin: calc(5 * var(--marginTopSection)) 10px 0 30px; /* top | right | bottom | left */
}

.line-exp {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.verticalLine-exp {
  height: calc(var(--heightExp) - 2px);
}

@media screen and (max-width:992px){
  .verticalLine-exp{ height: 0px; }
  .experience { height: auto; }
}


/* -------------- Skills ---------------- */

.skill {
  background: var(--standardBackground_ToTop);
  flex-grow: 1;
  width: var(--widthSkill);
  height: var(--heightSkill);
}

/* Display 4 skills by row */
.skill:nth-child(4n) { page-break-after: always; }

.skill:hover{ background: var(--backgroundSkillInteraction); }

.titleSkill{
  margin: 60px 20px 0 0; /* top | right | bottom | left */
  background: var(--backgroundSkillH1);
}

.skill:hover > .titleSkill{ background: var(--backgroundSkillH1Interaction); }

.verticalLine-skill {
  height: var(--heightSkill);
  margin-left: calc(auto - 1px);
}

.rectangle-skill, .rectangle-skill2lines {
  height: calc(var(--heightSkill) - var(--heightBackgroundSkill));
}

.rectangle-skill{ margin-top: 30px; }

.rectangle-skill2lines { margin-top: 12px; }

.rectangle-skill p, .rectangle-skill2lines p{
  text-align: center;
  line-height: 30px;
  margin: 0 8px 0 8px;/* top | right | bottom | left */
}


/* -------------- Hobbies ---------------- */
.hobbies h1 { background: var(--backgroundHobbieH1); }

.line-hobbies { width: 100vw; }

.hobbie{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  min-height: 445px;
  background: var(--standardBackground_ToBot);
}

.hobbie:hover{ background: var(--backgroundHobbieInteraction); }

.titleHobbie h2{
  font-size: calc(1em + 2vw);
  background: var(--backgroundHobbieH2);
}

.hobbie:hover > .titleHobbie h2{ background: var(--backgroundHobbieH2Interaction); }

.hobbie h3 { font-size: calc(1em + 1vw); }

.hobbie h2, .hobbie h3 { margin-left: 20px; }

.hobbie h2, .hobbie h3, .hobbie p{
  margin-top: var(--marginTopSection);
  margin-right: 20px;
}

.hobbie p{
  margin-left: calc(1.5em + 1vw);
  max-width: 800px;
  height: auto;
}

@media screen and (max-width:625px){
  .hobbie{ flex-flow: column wrap; }

  .hobbie p{
    margin: 0 20px 15px 20px; /* top | right | bottom | left */
    text-align: center;
  }
  .hobbie img { max-width: 55vw;}

  .setImages-shadowHunter img{
    margin-left: 70px;
    margin-right: 60px;
  }
}

/* ==== Game Dev ===== */
.gameDev-hobbie, .glitchaat, .VRGame, .firstGame, .shadowHunter, .allImages-shadowHunter, .setImages-shadowHunter {
  display: flex;
  flex-flow: row wrap;
}

.glitchaat, .VRGame, .firstGame, .shadowHunter {
  max-width: 1250px;
  min-width: 280px;
  justify-content:center;
}

.gameDev-intro, .glitchaat, .VRGame, .firstGame, .shadowHunter {
  margin-bottom: 75px;
}

.columnImg-articleHobbies{
  display: flex;
  flex-direction: column;
  width: 310px;
  margin-top: 10px;
}

.itchio {
  display: flex;
  max-width: 50vw;
  margin: 50px auto auto auto;
}


@media screen and (min-width:920px) and (max-width:1500px){
  .columnImg-articleHobbies{
    flex-direction: row;
    width: inherit;
  }
}

.allImages-shadowHunter {
  justify-content:space-between;
  margin-top: 50px;
}

@media screen and (max-width:920px){
  .allImages-shadowHunter, .columnImg-articleHobbies {
    justify-content:center;
    width: auto;
  }
}

.setImages-shadowHunter {
  justify-content:center;
  max-width: 450px;
}

@media screen and (max-width:450px){
  .hobbie { min-height: 200px; }

  .hobbie h2, .hobbie h3, .hobbie p{ margin: auto auto auto 5px; }

  .hobbie h3{ font-size: 12px; }
  .hobbie p {
    font-size: 12px;
    margin: auto 3px auto 3px;}
}


/* -------------- Auxiliary Projects ---------------- */

.auxiliaryProject {
  min-height: 618px;
  max-height: 2000px;
  background: var(--standardBackground_ToTop);
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.projectPresentation{
  margin-top: 20px;
  max-width: 750px;
}

.projectPresentation h1 { background: var(--backgroundHeaderProjectAndAuxilary); }

.projectPresentation p{ margin-top: 20px; }

.projectImages{
  display: flex;
  flex-flow: row wrap;
  width: 1000px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.projectImages img{ width: 300px; }


/* -------------- FOR SMARTPHONE ---------------- */

@media screen and (max-width:430px){
  /* HEADER */
  .rectangle-profil p{ font-size: 5.5vw; }
  .rectangle-contact p { font-size: 4.5vw; }
  .situation h1 {
    text-align: center;
    margin-left: 0px;
  }
  .situation{ height: auto; }
  .situation p{ margin: 0 auto 0 auto;/* top | right | bottom | left */ }
  .verticalLine-situation { height: 0; }
  /* EXP */
  .mission-experience { line-height: 28px;}
  /* SKILLS */
  .rectangle-skill p, .rectangle-skill2lines p{
    font-size: 15px;
    line-height: 20px;
  }
}
